.bg {
  height: 100vh;
  padding: 0 5vw;
  max-width: 100vw;
  .cocktail {
    width: 50vw;
    .photo {
      width: 20vw;
      position: relative;
      border: solid 10px rgb(54, 53, 53);
      border-radius: 20px;
      img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: 10px;
      }
      .name {
        background: linear-gradient(to bottom, transparent, black, black);
        position: absolute;
        bottom: -1rem;
        color: white;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 2px;
        width: 100%;
        line-height: 3.5rem;
        padding: 5px 2rem;
      }
    }
  }
  .legend {
    box-sizing: border-box;
    width: 50vw;
    height: 100vh;
    overflow-y: auto;
    padding: 10vh 5vw;
  }
}

.back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

@media all and(max-width:800px) {
  .bg {
    padding: 0;
    flex-direction: column;
    margin: 0;
    .cocktail {
      margin: 0;
      padding: 0;
      width: 100%;
      object-fit: cover;
      .photo {
        width: 100%;
        position: relative;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        img {
          width: 100%;
          height: 50vh;
          border-radius: 0;
        }
        .name {
          box-sizing: border-box;
          background: linear-gradient(
            to bottom,
            transparent,
            transparent,
            rgba(0, 0, 0, 0.363),
            rgba(0, 0, 0, 0.822),
            black,
            black
          );
          position: absolute;
          bottom: -1rem;
          color: white;
          font-weight: 600;
          font-size: 2rem;
          letter-spacing: 2px;
          width: 100%;
          line-height: 2rem;
          padding: 5px 2rem;
        }
      }
    }
    .legend {
      box-sizing: border-box;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      padding: 10vh 5vw;
    }
  }

  .back {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 10;
  }
}
