/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.952);

}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
