<div class="search flex-center ns">
    <div class="search-box flex-start mat-elevation-z2">
        <mat-icon color="warn">search</mat-icon>
        <input #txtSearch type="text" spellcheck="false" [(ngModel)]="this.listProvider.filterValue">
        <div class="actions flex-center">
            <button color="warn" mat-icon-button *ngIf="this.listProvider.filterValue &&!this.listProvider.searching"
                (click)="clear()">
                <mat-icon>cancel</mat-icon>
            </button>
            <button color="warn" mat-icon-button *ngIf="!this.listProvider.filterValue &&!this.listProvider.searching"
                (click)="listProvider.shuffleCocktails()">
                <mat-icon>shuffle</mat-icon>
            </button>
            <mat-progress-spinner color="warn" class="spinner" diameter="20" strokeWidth="2" mode="indeterminate"
                *ngIf="this.listProvider.searching">
            </mat-progress-spinner>
        </div>
    </div>
</div>
<div class="cocktails flex-around flex-wrap" *ngIf="!listProvider.shuffling" >
    <div class="line flex-start" *ngFor="let cocktail of listProvider.cocktais" @apearAnimation mat-ripple
        (click)="selectCocktail(cocktail)">
        <img [src]="cocktail.photo" alt="">
        <mat-label class="name"> {{cocktail.name}} </mat-label>
    </div>
    <div class="line hide" *ngIf="listProvider.cocktais.length>4"></div>
    <div class="line hide" *ngIf="listProvider.cocktais.length>4"></div>
    <div class="line hide" *ngIf="listProvider.cocktais.length>4"></div>
    <div class="line hide" *ngIf="listProvider.cocktais.length>4"></div>
</div>