.cocktails {
  margin-top: 102px;
  padding: 4rem;
  .line {
    cursor: pointer;
    transition: 300ms ease-in-out;
    color: rgba(255, 255, 255, 0.904);
    height: 300px;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    transform: scale(1);
    img {
      width: 200px;
      min-width: 200px;
      height: 200px;
      min-height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
    .name {
      width: 100%;
      font-size: 1.4rem;
      letter-spacing: 2px;
      margin: 2rem;
      font-weight: 600;
      text-align: center;
    }
    &:hover {
      background-color: #302e2e62;
      transform: scale(1.1);
    }
  }
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(5, 5, 5);
  padding: 1rem;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  .search-box {
    width: 600px;
    height: 50px;
    background-color: #444444;
    margin: 10px;
    padding: 0 1rem;
    color: white;
    border-radius: 5px;

    input {
      all: unset;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      padding: 0 0.5rem;
    }
    .actions {
      min-width: 40px;
      width: 40px;
    }
  }
}
.hide {
  &:hover {
    background-color: transparent !important;
    transform: scale(1) !important;
  }
}
@media all and(max-width:800px) {
  .search {
    padding: 5px;
    .search-box {
      width: 90%;
    }
  }

  .cocktails {
    margin-top: 80px;
    padding: 0;
    padding-bottom: 2rem;
    .line {
      border-radius: 0;
      height: 70px;
      width: 100%;
      flex-direction: row;
      padding: 0 1.7rem;
      margin: 0;
      border-bottom: solid 1px rgba(94, 93, 93, 0.233);
      img {
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
      }
      .name {
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        margin: 0;
        margin-left: 1.5rem;
        text-align: left;
        font-weight: 500;
      }
      &:hover {
        background-color: transparent;
        transform: scale(1);
      }
    }
  }
}
